/* breakpoints */
.gated-content--box {
  background-color: #F4F6F8;
  color: #333F48;
  font-family: benton-modern-display, serif;
  font-size: 16px;
  line-height: 26px;
  background-image: url("../images/slanted-hash-line-dark-grey.svg");
  background-size: 12px 12px;
  background-repeat: repeat-x;
  background-position: 0 0;
  width: 100%;
  padding: 46px 30px;
}

@media (min-width: 992px) {
  .gated-content--box {
    padding: 46px 40px;
  }
}

.gated-content--box .headline {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .gated-content--box .headline {
    font-size: 32px;
    line-height: 36px;
  }
}

.gated-content--box .cta {
  background-color: #333F48;
  color: #FFFFFF;
  border-radius: 25px;
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
}

.gated-content--box .title {
  margin-top: 40px;
  margin-bottom: 0px;
}

.gated-content--box .learn-more {
  font-style: italic;
  text-decoration: underline;
  color: #333F48;
  display: block;
}

@media (min-width: 992px) {
  .gated-content--box .learn-more {
    display: inline;
  }
}
