/* breakpoints */
.text-block {
  color: #333F48;
  font-size: 14px;
  box-sizing: border-box;
  background-image: url("../images/slanted-hash-line-dark-grey.svg");
  background-size: 12px;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-origin: content-box;
  background-clip: content-box;
  width: 100%;
}

@media (min-width: 786px) {
  .text-block {
    padding: initial;
  }
}

.text-block-container {
  padding-top: 28px;
}

@media (min-width: 786px) {
  .text-block-container {
    padding-top: 34px;
  }
}

.text-block-headline {
  color: #C8102E;
  text-transform: uppercase;
  font-family: benton-sans-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
}

.text-block-description {
  font-size: 40px;
  line-height: 44px;
  font-family: benton-modern-display, serif;
  font-weight: 600;
}

@media (min-width: 786px) {
  .text-block-description {
    font-size: 48px;
    line-height: 48px;
  }
}
